.result {
  display: none;
}

body {
  background-color: #000000;
  color: #c6c386;
}

#page-heading {
  background-color: red;
}

#result-heading {
  background-color: yellow;
}

.panel-body {
  background-color: green;
}

h2 {
  color: #0892d0;
}

button {
  background-color: #7df9ff;
}

.jumbotron {
  background-color: #0095b6;
  color: #7df9ff;
}
