.result {
  display: none;
}

#result-area {
  display: none;
}

#footer {
  display: none;
  text-align: right;
  float: right;
}

.footing {
  font-size: 20px;
  font-style: italic;
  color: #7df9ff;
}

.footer p {
  color: #7df9ff;
  margin-right: 5%;
}

body {
  background-color: #2e4045;
  color: black;
}

#page-heading {
  background-color: #83adb5;
}

#page-heading h2 {
  color: #7df9ff;

}

#result-heading {
  background-color: #83adb5;
}

.panel-body {
  background-color: #c7bbc9;
}

h2 {
  color: #5e3c58;
}

button {
  background-color: #857e7c;
}

.jumbotron {
  background-color: #83adb5;
  color: #7df9ff;
}
